.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10px 0 10px;
    max-width: 100%;
    margin: auto;
}

.flex-item {
    background-color: #d3d3d3;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.big-item {
    flex: 2;
    height: 100%;
    min-height: 500px;
    max-width: 700px;
}

.small-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.small-item {
    flex: 1 1 calc(50% - 10px);
}

.flex-bottom-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: 100%;
    margin: auto;
    min-height: 200px;
}

span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-bottom-container {
        flex-direction: column;
    }

    .big-item {
        flex: 1;
    }

    .small-item {
        flex: 1 1 100%;
        height: auto;
    }

    .small-items-container {
        flex-direction: column;
    }
}